/* body {
  background-color: yellow !important;
} */

.chrome-ext-tooltip {
  min-width : "100px";
  max-width : "250px";
  opacity : "90%";
  border-radius : "10px";
  position : "fixed";
  background : "#fff";
  color : "#000";
  border : "1px solid #ccc";
  padding : "5px";
  padding-right : "15px";
  z-index : "9999";
  top : "10px";
  left : "10px";
  display : "none";
  cursor : "move";
}